{% extends "myapp/beta_base.html" %}
{% load static %}
{% block content %}


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


  <script type="text/javascript">
    let YOUR_JS_LIST = {{json_list|safe}};
    google.charts.load('current', {'packages':['gantt']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Task ID');
      data.addColumn('string', 'Task Name');
      data.addColumn('string', 'Resource');
      data.addColumn('date', 'Start Date');
      data.addColumn('date', 'End Date');
      data.addColumn('number', 'Duration');
      data.addColumn('number', 'Percent Complete');
      data.addColumn('string', 'Dependencies');


      for(let i = 0; i<YOUR_JS_LIST.length; i++){

            console.log(YOUR_JS_LIST[i][0]);

            data.addRow([YOUR_JS_LIST[i][0], YOUR_JS_LIST[i][1], YOUR_JS_LIST[i][2],
                new Date(YOUR_JS_LIST[i][3], YOUR_JS_LIST[i][4], YOUR_JS_LIST[i][5]),
                new Date(YOUR_JS_LIST[i][6], YOUR_JS_LIST[i][7], YOUR_JS_LIST[i][8]),
                null, 50,
                YOUR_JS_LIST[i][11]]);



            console.log(i);
        }

        console.log(data)


      var options = {
        height: 400,
        gantt: {
            trackHeight: 30,
            shadowEnabled : true,
            criticalPathEnabled : false
        }
      };

      var chart = new google.visualization.Gantt(document.getElementById('chart_div'));

      chart.draw(data, options);
    }
  </script>


<div id="chart_div"></div>



{% endblock %}