{% extends "myapp/beta_base.html" %}
{% load crispy_forms_tags %}
{% csrf_token %}
{% block content%}

{#        <style type="text/css">#}
{#            #viz {#}
{#                width: 1280px;#}
{#                height: 720px;#}
{#            }#}
{#        </style>#}
{#    <script src="https://unpkg.com/htmx.org@1.7.0" integrity="sha384-EzBXYPt0/T6gxNp0nuPtLkmRpmDBbjg6WmCUZRLXBBwYYmwAUxzlSGej0ARHX0Bo" crossorigin="anonymous"></script>#}
{#    <script src="https://rawgit.com/neo4j-contrib/neovis.js/master/dist/neovis.js"></script>#}
    <script src="https://unpkg.com/neovis.js@2.0.2"></script>
    {% crispy form %}

{#    <form id='form' hx-encoding='multipart/form-data' hx-post='/upload/'>#}
{#        <input type='file' name='file'>#}
{#        <button>#}
{#            Upload#}
{#        </button>#}
{#        <progress id='progress' value='0' max='100'></progress>#}
{#    </form>#}
{#    <script>#}
{#        htmx.on('#form', 'htmx:xhr:progress', function(evt) {#}
{#          htmx.find('#progress').setAttribute('value', evt.detail.loaded/evt.detail.total * 100)#}
{#        });#}
{#    </script>#}
    <style>
            #viz {

                {#1080-124#}
                height: 736px;
            }
            </style>
    <script>
        function draw() {
            let config = {
                containerId: "viz",
                serverUrl: "bolt://localhost:7687",
                serverUser: "neo4j",
                serverPassword: "Accelerati0n",
                labels: {
                    "Work": {
                        caption: "name",
                        size: "pagerank",
                        community: "Purple"
                    }
                },
                relationships: {
                    "FOLLOWS": {
                        caption: false,
                        thickness: "count"
                    }
                },
                initialCypher: "MATCH (n)-[r:FOLLOWS]->(m) RETURN *"
            };

            let viz = new NeoVis.default(config);
            viz.render();
        }
    </script>

        <div class="container-fluid" onload="draw()" id="viz"></div>

    <script>
    draw();
    </script>



{% endblock content %}