{% extends "myapp/hat.html" %}
{% load crispy_forms_filters %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
    {% if projectId != None %}
        <p>Текущий проект {{ userId }}</p>

        <form class="col-12" action="/save_model/" method="post">
                            <div class="form-row col-12">
                                <p>Ссылка на модель</p>
                            </div>
                            <div class="form-row col-12">
                                <p>Проект:{{ projectId}} Модель:{{ modelId }}</p>

                            <div class="col-9">
                                <input type="text" class="form-control" required name="link">
                            </div>
                                <button class="btn btn-primary col-2" type="submit">Выбрать модель</button>
                            </div>
        </form>

    {% else %}
        <form class="col-12" action="/save_model/" method="post">
                <div>
                       <input type="text" class="form-control" required name="link">
                       <button class="btn btn-primary col-2" type="submit">Выбрать модель</button>
                </div>



        </form>
    {% endif %}
    </div>
{% endblock %}